*{
    margin: 15px;
    padding: 0;
    box-sizing: border-box;
    background: rgb(241, 198, 206);
}
h1{
    font-family: 'Lobster', cursive;
    font-size: 75px;
}
.image6 img{
    height: 200px;
    width: 200px;
    position: absolute;
    left: 230px;
    top: 100px;
    border: 3px solid rgb(56, 38, 138);
    border-radius: 25px;
}
.image6 p{
    position: absolute;
    left: 230px;
    top: 300px;
}


.image7 img{
    height: 200px;
    width: 200px;
    position: absolute;
    left: 550px;
    top: 100px;
    border: 3px solid rgb(56, 38, 138);
    border-radius: 25px;
}
.image7 p{
    position: absolute;
    left: 550px;
    top: 300px;

}

.image8 img{
    height: 250px;
    width: 250px;
    position: absolute;
    left: 850px;
    top: 100px;
    border: 3px solid rgb(56, 38, 138);
    border-radius: 25px;
}
.image8 p{
    position: absolute;
    left: 850px;
    top: 300px;
}
.image9 img{
    height: 200px;
    width: 200px;
    position: absolute;
    left: 230px;
    top: 350px; 
    border: 3px solid rgb(56, 38, 138);
    border-radius: 25px;
}
.image9 p{
    position: absolute;
    left: 230px;
    top: 550px;
}



.image10 p{
    position: absolute;
    left: 550px;
    top: 550px;
}

.image11 img{
    height: 200px;
    width: 200px;
    position: absolute;
    left: 850px;
    top: 350px;
    border: 3px solid rgb(56, 38, 138);
    border-radius: 25px;
}
.image11 p{
    position: absolute;
    left: 850px;
    top: 550px;
}

ul li{
    list-style: none;
    margin: 25px 25px;
    font-family: 'Raleway', sans-serif;


}
.image7 p{
    position: absolute;
    left: 550px;
    top: 300px;

}

.image8 img{
    height: 200px;
    width: 200px;
    position: absolute;
    left: 850px;
    top: 100px;
    border: 3px solid rgb(56, 38, 138);
    border-radius: 25px;
}
.image8 p{
    position: absolute;
    left: 850px;
    top: 300px;
}
.image9 img{
    height: 200px;
    width: 200px;
    position: absolute;
    left: 230px;
    top: 350px; 
    border: 3px solid rgb(56, 38, 138);
    border-radius: 25px;
}
.image9 p{
    position: absolute;
    left: 230px;
    top: 550px;
}

.image10 img{
    height: 200px;
    width: 200px;
    position: absolute;
    left: 550px;
    top: 350px;
    border: 3px solid rgb(56, 38, 138);
    border-radius: 25px;
}

.image10 p{
    position: absolute;
    left: 550px;
    top: 550px;
}

.image11 img{
    height: 200px;
    width: 200px;
    position: absolute;
    left: 850px;
    top: 350px;
    border: 3px solid rgb(56, 38, 138);
    border-radius: 25px;
}
.image10 p{
    position: absolute;
    left: 550px;
    top: 550px;
}

ul li{
    list-style: none;
    margin: 25px 25px;
    font-family: 'Raleway', sans-serif;
}

@media (max-width: 830px){
    .image6 img{

        height: 150px;
        width: 150px;
        position: absolute;
        left: 210px;
        top: 100px;
        border: 3px solid rgb(56, 38, 138);
        border-radius: 25px;
    }

    .image6 p{
        position: absolute;
        left: 230px;
        top: 280px;}

        .image7 img{
            height: 150px;
            width: 150px;
            position: absolute;
            left: 400px;
            top: 100px;
            border: 3px solid rgb(56, 38, 138);
            border-radius: 25px;
        }
        .image7 p{
            position: absolute;
            left: 400px;
            top: 280px;}


        .image8 img{
            height: 150px;
            width: 150px;
            position: absolute;
            left: 590px;
            top: 100px;
            border: 3px solid rgb(56, 38, 138);
            border-radius: 25px;

}
.image8 p{
    position: absolute;
    left: 590px;
    top: 280px;}

        .image9 img{
        height: 150px;
        width: 150px;
        position: absolute;
        left: 210px;
        top: 350px; 
        border: 3px solid rgb(56, 38, 138);
        border-radius: 25px;
}

.image10 img{
    height: 150px;
    width: 150px;
    position: absolute;
    left: 400px;
    top: 350px;
    border: 3px solid rgb(56, 38, 138);
    border-radius: 25px;}
    
    .image11 img{
        height: 150px;
        width: 150px;
        position: absolute;
        left: 590px;
        top: 350px;
        border: 3px solid rgb(56, 38, 138);
        border-radius: 25px;
    }
    .image9 p{
        position: absolute;
        left: 230px;
        top: 530px;
    }

    .image10 p{
        position: absolute;
        left: 400px;
        top: 530px;}

        .image11 p{
            position: absolute;
            left: 590px;
            top: 530px;  }

            @media (max-width: 820px){
                .image6 img{

                    height: 150px;
                    width: 150px;
                    position: absolute;
                    left: 210px;
                    top: 100px;
                    border: 3px solid rgb(56, 38, 138);
                    border-radius: 25px;}

                    .image7 img{
                        height: 150px;
                        width: 150px;
                        position: absolute;
                        left: 210px;
                        top: 350px;
                        border: 3px solid rgb(56, 38, 138);
                        border-radius: 25px;

            }
            .image7 p{
                position: absolute;
                left: 230px;
                top: 550px;}




            .image8 img{
                height: 150px;
                width: 150px;
                position: absolute;
                left: 210px;
                top: 600px;
                border: 3px solid rgb(56, 38, 138);
                border-radius: 25px;}

                .image8 p{
                    position: absolute;
                    left: 230px;
                    top: 780px;
    
    }
    .image9 img{
        height: 150px;
        width: 150px;
        position: absolute;
        left: 210px;
        top: 840px; 
        border: 3px solid rgb(56, 38, 138);
        border-radius: 25px;
    
}

.image9 p{
    position: absolute;
    left: 230px;
    top: 1020px;}


.image10 img{
    height: 150px;
    width: 150px;
    position: absolute;
    left: 210px;
    top: 1080px;
    border: 3px solid rgb(56, 38, 138);
    border-radius: 25px;
}

.image10 p{
    position: absolute;
    left: 230px;
    top: 1260px;}

.image11 img{
    height: 150px;
    width: 150px;
    position: absolute;
    left: 210px;
    top: 1330px;
    border: 3px solid rgb(56, 38, 138);
    border-radius: 25px;}

    .image11 p{
        position: absolute;
        left: 230px;
        top: 1510px;  }
