h1 { color: green;
font-family: Georgia

}
h2 {
    font-family: Georgia
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

.langley {
    vertical-align: center;
}
a {text-decoration: none}
a:hover {text-decoration: underline;}

.parent

#CIA {
    color: rgb(5, 17, 5);
}
