*{
    margin: 0;
    padding: 0;
    font-style: century gothic;
}

body {
    background-image: url(../practicing-terminal/rose-background.jpg);
    

}
.nav-bar {
    float: right;
    position: absolute;
    top: 30px;
    left: 820px;
}
ul{
    margin-top: 20px;
}

ul li{
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: black;
    padding: 4px 20px;
    border: 1px solid black;
    background-color: gold;
}

h1{
font-size: 70px;
font-family: 'Spectral SC', serif;
color: rgb(228, 222, 228);
font-style: italic;
}
body{
background: rgb(228, 187, 194);
padding: 0;
margin: 0;
}

.content{
width: 500px;
height: 500px;
margin: 100px auto;
background: floralwhite;
position: relative;

}

.content p{
    margin: 0;
    padding: 0;
    font-family: 'Spectral SC', serif;
}



table, th, td, tr{
border: 1px solid rgb(0, 0, 0);
margin-top: 20px;
}

table{
    position: absolute;
    left: 41%;
    top: 96%;
}

.footer{
    position: absolute;
    top: 115%;
}
.more-content{

}

.list{
    position: absolute;
    left: 55px;
    color: rgb(19, 12, 18)
}

.rosetoner img{
width: 250px;
height: 270px;
position: absolute; 
bottom: 140px;
left: 20px;
}

.rosetoner2 img{
    width: 250px;
    height: 270px;
    position: absolute;  
    left: 80%;
    bottom: 140px;
}
